.draggable-box {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;

  user-select: none;
  cursor: grab;
}

.draggable-box.dragging {
  cursor: grabbing;
}
