/*** TOOLBAR ***/
.toolbar-container {
  display: flex;
  gap: 15px;
}

.toolbar-item {
  padding: 4px 8px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 14px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  color: #4b4a4a;
  border-radius: 10px;
}

.toolbar-item.active {
  background-color: #ebebeb;
}

/* left toolbar */
.left-toolbar-container {
  padding: 10px 20px;
}

.divider {
  width: 100%;
  border-top: 0px;
  border-color: #e3dfdf;
}

input[type='color'] {
  padding: 0;
  border: navajowhite;
  background: none;
  cursor: pointer;
}
.solo-color {
  width: 100%;
}

.left-sidebar-item {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #4b4a4a;
}

.left-sidebar-item label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.left-sidebar-item select:focus-visible {
  outline: none;
}

.left-sidebar-button {
  width: 100%;
  display: flex;
  gap: 6px;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
}
/* ********************* */

.gradient-box {
  display: flex;
  align-items: center;
}
/*** SHAPE TOOLS ***/
.shape-list {
  display: flex;
  gap: 20px;
}

.shape-item {
  display: flex;
  cursor: pointer;
  color: gray;
}

.shape-item:hover {
  color: #242424;
}
/* ********************* */
