.resizable-container {
  position: relative;
  height: 100px;
  background-color: transparent;
  user-select: none;
}

.resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(41, 179, 87);
  z-index: 200;
  opacity: 0;
  width: 5px;
  height: 5px;
  transition: 0.5s;
  cursor: se-resize;
}

.resizable-container:hover .resizer {
  opacity: 1;
}
