.editable-text {
  background: transparent;
  border: 1px solid green;
  width: fit-content;
}

.editable-text:focus {
  outline-width: 0;
}

.gradient-text {
  /* Fallback for older browsers */
  background-color: initial !important;
  color: initial !important;

  /* For Webkit-based browsers (Chrome, Safari, iOS Safari, Opera) */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;

  /* For Firefox */
  background-clip: text !important;
  color: transparent !important;
}

.word {
  display: inline-block;
  padding-right: 4px;
}
