.layout {
  padding: 10px 0;
  height: 100%;
}

.layout-container {
  height: 100%;
}

.toolbar {
  width: 100%;
  height: 40px;
  background-color: #fbfbfd;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid #f0f0f0;
}

.main {
  display: flex;
  margin-top: 40px; /* Push the main content below the fixed toolbar */
  height: calc(100vh - 40px);
  width: 100%;
  background-color: #f8f8f8;
}

.left-toolbar {
  width: 200px;
  height: 100vh;
  background-color: #fbfbfd;
  position: fixed;
  top: 40px; /* Align the left toolbar below the fixed top toolbar */
  left: 0;
  border-right: 2px solid #f0f0f0;
}

.content {
  width: calc(100% - 200px);
  height: calc(100vh - 80px);
  margin-left: 200px; /* Push the content to the right of the left toolbar */
  background-color: #f4f4f4;
}
