.gradient-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Consolas, 'courier new';
}

.gradient-col {
  width: 100%;
  display: flex;
  align-items: center;
}

.color-input {
  width: 40px;
}

.direction-select {
  width: 100px;
}

.slider-track {
  position: relative;
  width: calc(100% - 12px);
  height: 15px;
  border: 1px solid #ccc;
  background: linear-gradient(90deg, rgb(23, 181, 92), rgb(209, 132, 0));
  cursor: pointer;
}

.slider-thumb {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  position: absolute;
  top: -4px;
  width: 8px;
}

.start-thumb,
.end-thumb {
  z-index: 1;
}
